%section#contents
  %h1#help-header How can we help?
  .row
    .col-sm-3
      #contents-options
        %h3 <a href="#what-is-loomio">What is Loomio?</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#getting-started">Getting started</a>
        %p <a href="#starting-new-group">When you want to start a new Loomio group</a>
        %p <a href="#invited-into-group">When you are invited into a Loomio group</a>
        %p <a href="#joining-existing-group">When you want to join an existing Loomio group</a>
        %p <a href="#single-sign-on">Single sign-on</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#group-settings">Group settings</a>
        %p <a href="#group-profile">Group profile</a>
        %p <a href="#group-privacy">Group privacy</a>
        %p <a href="#group-permissions">Group permissions</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#dashboard">Your dashboard</a>
  .row
    .col-sm-3
      #contents-options
        %h3 <a href="#coordinator-tasks">Coordinator tasks</a>
        %p <a href="#adding-cover-photo">Adding a cover photo</a>
        %p <a href="#manage-membership">Manage membership</a>
        %p <a href="#deactivating-groups">Deactivating/archiving a group</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#member-actions">Member actions</a>
        %p <a href="#inviting-members">Inviting new members</a>
        %p <a href="#importing-contacts">Importing contacts</a>
        %p <a href="#leaving-groups">Leaving a group</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#discussion-threads">Discussion threads</a>
        %p <a href="#starting-discussions">Starting a discussion</a>
        %p <a href="#providing-context">Providing context</a>
        %p <a href="#discussion-privacy">Discussion privacy</a>
        %p <a href="#editing-discussions">Editing a discussion</a>
        %p <a href="#moving-discussions">Moving a discussion</a>
        %p <a href="#deleting-discussions">Deleting a discussion</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#comments">Comments</a>
        %p <a href="#posting-comments">Posting a comment</a>
        %p <a href="#attaching-files">Attaching files</a>
        %p <a href="#mentioning">@mentioning group members</a>
        %p <a href="#editing-comments">Editing a comment</a>
        %p <a href="#liking-comments">Liking a comment</a>
        %p <a href="#deleting-comments">Deleting a comment</a>
  .row
    .col-sm-3
      #contents-options
        %h3 <a href="#proposals">Proposals</a>
        %p <a href="#starting-proposals">Starting a proposal</a>
        %P <a href="#editing-proposals">Editing a proposal</a>
        %p <a href="#stating-positions">Stating your position</a>
        %p <a href="#changing-positions">Changing your position</a>
        %p <a href="#setting-outcome">Setting a proposal outcome</a>
        %p <a href="#closing-proposals">Closing a proposal</a>
        %p <a href="#previous-decisions">Closed proposals/previous decisions</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#subgroups">Sub-groups</a>
        %p <a href="#subgroup-privacy">Sub-group privacy
    .col-sm-3
      #contents-options
        %h3 <a href="#keeping-up-to-date">Keeping up to date</a>
        %p <a href="#email-settings">Email settings</a>
        %p <a href="#following-unfollowing">Following and unfollowing</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#user-profile">Your user profile</a>
        %p <a href="#language-settings">Language settings</a>
        %p <a href="#usernames">Usernames</a>
        %p <a href="#updating-personal-settings">Updating your personal settings</a>
        %p <a href="#profile-photo">Uploading a profile photo</a>
        %p <a href="#changing-passwords">Changing your password</a>
        %p <a href="#account-deactivation">Deactivating your account</a>
        %p <a href="#account-reactivation">Reactivating your account</a>
  .row
    .col-sm-3
      #contents-options
        %h3 <a href="#translation">Translation</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#security">Privacy and security</a>
    .col-sm-3
      #contents-options
        %h3 <a href="#faq">FAQ</a>
