%section#contents
  %h1#help-header How can we help?
  .row
    .col-sm-3
      %h3 <a href="#what-is-loomio">What is Loomio?</a>
    .col-sm-3
      %h3 <a href="#getting-started">Getting started</a>
    .col-sm-3
      %h3 <a href="#group-settings">Group settings</a>
    .col-sm-3
      %h3 <a href="#dashboard">Your dashboard</a>
  .row
    .col-sm-3
      %h3 <a href="#coordinator-tasks">Coordinator tasks</a>
    .col-sm-3
      %h3 <a href="#member-actions">Member actions</a>
    .col-sm-3
      %h3 <a href="#discussion-threads">Discussion threads</a>
    .col-sm-3
      %h3 <a href="#comments">Comments</a>
  .row
    .col-sm-3
      %h3 <a href="#proposals">Proposals</a>
    .col-sm-3
      %h3 <a href="#subgroups">Comments</a>
    .col-sm-3
      %h3 <a href="#keeping-up-to-date">Keeping up to date</a>
    .col-sm-3
      %h3 <a href="#user-profile">Profile</a>
  .row
    .col-sm-3
      %h3 <a href="#translation">Translation</a>
    .col-sm-3
      %h3 <a href="#security">Privacy and security</a>
    .col-sm-3
      %h3 <a href="#FAQ">FAQ</a>
