%section#contents
  %h1#help-header How can we help?
  .row
    .col-sm-3
      %h3 <a href="#what_is_loomio">What is Loomio?</a>
    .col-sm-3
      .row
        .col-sm-12
          %h3 <a href="#getting-started">Getting started</a>
        .col-sm-12
          %p When you want to start a new Loomio group
        .col-sm-12
          %p When you are invited into a Loomio group
        .col-sm-12
          %p When you want to join an existing Loomio group (the Explore page)
        .col-sm-12
          %p Single sign-on
    .col-sm-3
      .row
        .col-sm-12
          %h3 <a href="#group-settings">Group settings</a>
        .col-sm-12
          %p Profile
        .col-sm-12
          %p Group privacy:
        .col-sm-12
          .row#sub-subheadings
            .col-sm-12
              %p Who can find this group?
            .col-sm-12
              %p How do people join?
            .col-sm-12
              %p Who can see discussions?
        .col-sm-12
          %p Group permissions:
        .col-sm-12#subheadings
          %p What can members do?
        .col-sm-12
          .row#sub-subheadings
            .col-sm-12
              %p Invite and approve new members
            .col-sm-12
              %p Create sub-groups
            .col-sm-12
              %p Start discussions
            .col-sm-12
              %p Edit the context of any discussion in the group
            .col-sm-12
              %p Edit their comments at any time
            .col-sm-12
              %p Raise proposals
            .col-sm-12
              %p Vote on proposals
    .col-sm-3
      .row
        .col-sm-12
          %h3 <a href="#dashboard">Your dashboard</a>
        .col-sm-12
          %h3 <a href="#coordinator-tasks">Coordinator tasks</a>