%section#coordinator-tasks
  %h1 Coordinator tasks
  .row
    .col-sm-8
      %h3 Adding a cover photo
      %p When your group is up and running you can add your cover photo. Your cover photo can be changed at any time. This is an easy way of helping your group members feel a little more at home on Loomio. When you hover over the grey area at the top of your Loomio group a pencil icon will appear in the top right hand corner. Click it and you will be able to select an image to upload. The best size for cover photos is 970 x 200 pixels.
    .col-sm-4
      =image_tag "cover-photo-upload.png", class: "screenshot"
  %h3 Manage membership
  .row
    .col-sm-8
      %p On your Loomio group page, there’s an <strong>“Options”</strong> button, which will let you choose <strong>“Manage members”</strong> if you are a group coordinator, or if the group permissions are set to <strong>“Members of the group can invite other people to the group”</strong>.
    .col-sm-4
      =image_tag "manage-members.png", class: "screenshot"
  %h4 Accepting/ignoring membership requests
  %p If your group privacy settings allow people to join you group <strong>“By request”</strong>, a coordinator will need to approve each membership request. Coordinators will receive an email each time there is a request to approve. They can choose to ignore a request if they don’t want to approve someone.
  =image_tag "pending-request.png", class: "screenshot"
  %h4 Emailing group members
  .row
    .col-sm-8
      %p If you want to send an email to all members of your group, you can do so within the <strong>“Members”</strong> page, which is accessed by selecting <strong>“Manage members”</strong> from the <strong>"Options"</strong> menu. Click the <strong>"Email group members"</strong> button at top right of the page, which will let you compose and send a message to everyone in your group.
    .col-sm-4
      =image_tag "email-group-members.png", class: "screenshot"
  %h4 Adding/Removing coordinators
  %p Only coordinators can add and remove coordinators. If you wish to add or remove a coordinator, you can do so from the <strong>“Members”</strong> page which is accessed by selecting “Manage members” from the Options menu. Next to every member who is not already a coordinator, there will be a <strong>“Make coordinator”</strong> button. Clicking this will give the corresponding member coordinator permissions. Next to every coordinator there will be a <strong>“Remove coordinator”</strong> button. Clicking this removes the coordinator permissions for the corresponding coordinator.
  =image_tag "add-remove-coordinator.png", class: "screenshot"
  %h3 Deactivating/archiving a group
  .row
    .col-sm-8
      %p Deactivating your group means that your group members will no longer be able to access your group. If you are a group coordinator and you wish to deactivate your group you can do so by selecting <strong>“De-activate group”</strong> from the <strong>“Options”</strong> menu on the group page. Deactivated groups can be restored by a member of the Loomio team. To reactivate your deactivated group, contact the Loomio team by sending an email to contact@loomio.org.
    .col-sm-4
      =image_tag "deactivate-group.png", class: "screenshot"
