%section#member-actions
  %h1 Member actions
  %h3 Inviting new members
  .row
    .col-sm-8
      %p Depending on your <a href="#group-settings">group settings</a>, new members can be invited either by everyone in the group, or by coordinators only. The <strong>Invitations</strong> page is accessed by clicking on the <strong>"Invite people"</strong> button on your group page. 
    .col-sm-4
      =image_tag "invite-people-button.png", class: "screenshot"
  .row
    .col-sm-7
      %p To invite new people into your group, enter their email addresses, separated by commas. You can choose to write an invitation message, or use Loomio’s default message. 
      %p When you submit the invitations form an email will be sent to each of the email addresses you supplied, containing your message, and a unique invitation link:
      =image_tag "invitation-email.png", class: "screenshot"
    .col-sm-5
      =image_tag "invitation-form.png", class: "screenshot"
  %h3 Importing contacts
  %p Importing your Google contacts into Loomio makes it a lot easier to add people to your groups. Once your contacts have been imported you don’t need to fill in individual email addresses; you can just start typing names and suggestions will pop up. You can import your Google contacts from the <strong>"Invite people"</strong> page.
  .row
    .col-sm-6
      %p Click the <strong>“Import your contacts from Google”</strong> link under the email addresses field. You will be prompted to grant Loomio permission to see your contact list. Loomio will use this information for no other purpose except helping you select people to add to your group.
    .col-sm-6
      =image_tag "import-contacts-link.png", class: "screenshot"
      =image_tag "import-contacts-permission.png", class: "screenshot"
  %h3 Leaving a group
  .row
    .col-sm-8
      %p If you wish to leave your group then you must ensure that you are not the only group coordinator. If you are the sole coordinator of your group, you must either appoint another coordinator or deactivate the group. If you are not the sole coordinator of a group then you can leave the group by selecting the <strong>"Leave group"</strong> option from the <strong>"Options"</strong> menu on the group page.
    .col-sm-4
      =image_tag "leave-group.png", class: "screenshot"
