%section
  .row
    .col-sm-12
      %h1#what-is-loomio= t :"help.what_is_Loomio"
      %p= t :"help.what_is_loomio_description_html"
      %h2= t :"help.how_it_works"
      %p= t :"help.video_tutorial_description"
      <iframe width='356px' height='267px' src="//www.youtube.com/embed/eu6A1IQar0g" frameborder="0" allowfullscreen></iframe>